html 
  head 
    title="This is title"
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.0-alpha.0/js/tabulator.min.js")
  body 
    tableDB=JSON.stringify(table_data)